        /* --- TABLAS --- */
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 1.5rem;
            font-size: 0.95rem;
        }

        th,
        td {
            border: 1px solid #ccc;
            padding: 10px;
            vertical-align: top;
        }

        th {
            background-color: #d9232e;
            color: white;
            text-align: center;
        }

        tr:nth-child(even) {
            background-color: #f9f9f9;
        }

        td strong {
            color: #d9232e;
        }

        /* --- QR --- */
        .qr {
            text-align: center;
            margin-top: 2rem;
        }

        .qr img {
            width: 150px;
            margin-top: 1rem;
        }




